.labelThumb {
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.textLabel {
    padding-bottom: 8px;

    & + span {
        color: var(--color-green-600);
    }

    &:last-child {
        padding: 0;
    }
}

.inputText {
    min-height: 50px;
    min-width: 205px;
    width: 100%;
    padding: 12px 24px;

    background-color: inherit;
    color: var(--color-grey-900);
    border: 1px solid var(--color-grey-500);
    border-radius: 8px;
    transition: var(--animation);

    &:hover,
    &:focus {
        border-color: var(--color-green-600);
        color: var(--color-green-600);
        cursor: pointer;
    }
}

.radioHighlight {
    background-color: var(--color-green-200);
}

.radioList {
    @media (--tablet-bp) {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        padding-bottom: 24px;
    }
}

.radioThumb {
    display: flex;
    gap: 12px;
    align-items: center;
}

.radioItem {
    padding-bottom: 16px;

    &:focus-within .inputText {
        outline: 2px solid var(--color-grey-900);
    }

    &:last-child {
        padding-bottom: 24px;
        @media (--tablet-bp) {
            padding: 0;
        }
    }

    @media (--tablet-bp) {
        padding-bottom: 0;
        gap: 16px;
        flex-basis: calc((100% - 32px) / 2);
    }
}

.radioError {
    color: var(--color-error);
    margin-top: -16px;
}