@import '../../utilities/mixins/typography.css';
@import '../../utilities/mixins/commonStyles.css';

.labelThumb {
    @mixin labelThumb
}

.textLabel {
    @mixin textLabel
}

.inputText {
    @mixin inputText

    &:hover,
    &:focus {
        color: var(--color-green-600);
    }
}

.radioHighlight {
    background-color: var(--color-green-200);
}

.radioList {
    @media (--tablet-bp) {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        padding-bottom: 24px;
    }
}

.radioThumb {
    display: flex;
    gap: 12px;
    align-items: center;
}

.radioItem {
    flex: 1;
    padding-bottom: 16px;

    &:focus-within .inputText {
        outline: 2px solid var(--color-grey-900);
    }

    &:last-child {
        padding-bottom: 24px;
        @media (--tablet-bp) {
            padding: 0;
        }
    }

    @media (--tablet-bp) {
        padding-bottom: 0;
        gap: 16px;
        flex-basis: calc((100% - 32px) / 2);
    }
}

.radioError {
    color: var(--color-error);
    margin-top: -16px;
}