@import '../../utilities/mixins/typography.css';

.textAreaThumb {
    margin-bottom: 40px;
}

.labelThumb {
    display: flex;
    gap: 8px;
    @mixin bodySM;
}

.textArea {
    resize: none;
    min-height: 240px;
    width: 100%;
    padding: 12px 24px;

    background-color: var(--color-white);
    color: var(--color-grey-900);
    border: 1px solid var(--color-grey-500);
    border-radius: 8px;
    transition: var(--animation);

    &:hover {
        border-color: var(--color-green-600);
        cursor: pointer;
    }

    @media (--tablet-bp) {
        min-height: 115px;
    }
}

.textLabel {
    padding-bottom: 8px;

    & + span {
        color: var(--color-green-600);

    }
}

.textAreaError {
    border-color: var(--color-error);
}