.inputThumb {
    padding-bottom: 24px;
    flex: 1;
}

.labelThumb {
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.textLabel {
    padding-bottom: 8px;

    & + span {
        color: var(--color-green-600);
    }

    &:last-child {
        padding: 0;
    }
}

.inputText {
    min-height: 50px;
    min-width: 205px;
    width: 100%;
    padding: 12px 24px;

    background-color: var(--color-white);
    color: var(--color-grey-900);
    border: 1px solid var(--color-grey-500);
    border-radius: 8px;
    transition: var(--animation);

    &:hover {
        border-color: var(--color-green-600);
        cursor: pointer;
    }
}

.inputError {
    border-color: var(--color-error);
}