@import '../../utilities/mixins/typography.css';
@import '../../utilities/mixins/commonStyles.css';

.inputThumb {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    flex: 1;
    @mixin bodySM;
}

.textLabel {
    @mixin textLabel
}

.inputText {
    order: 2;
    @mixin inputText
}

.errorOrder {
    order: 3;
}

.textArea {
    order: 2;
    resize: none;
    min-height: 240px;
    width: 100%;
    padding: 12px 24px;

    background-color: var(--color-white);
    color: var(--color-grey-900);
    border: 1px solid var(--color-grey-500);
    border-radius: 8px;
    transition: var(--animation);
    @mixin bodyMD_regular;

    &:hover {
        border-color: var(--color-green-600);
        cursor: pointer;
    }

    &:required + .textLabel::after {
        content: ' *';
        display: inline;
        color: var(--color-green-600);
    }

    @media (--tablet-bp) {
        min-height: 115px;
    }
}

.inputError {
    border-color: var(--color-error);
}