@import '../../utilities/mixins/typography.css';
@import '../../utilities/mixins/commonStyles.css';

.inputThumb {
    margin-bottom: 24px;
    flex: 1;
}

.labelThumb {
    @mixin labelThumb
}

.textLabel {
    @mixin textLabel
}

.inputText {
    @mixin inputText
}

.inputError {
    border-color: var(--color-error);
}