@import '../../utilities/styling/mixins/typography.css';

.radioThumb {
    display: flex;
    gap: 12px;
    align-items: center;
}

.labelAction {
    position: relative;
    padding-left: 52px;

    &::before {
        content: '';
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 2px solid var(--color-grey-500);
        border-radius: 50%;

        input.radioInput:checked ~ & {
            border-color: var(--color-green-600);
        }
    }

    input.radioInput:checked ~ &::after {
        content: '';
        position: absolute;
        left: 29px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-color: var(--color-green-600);
        border-radius: 50%;
    }

}

.customRadioButton {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-grey-500);
    border-radius: 50%;
}

.radioInput {
    &:checked ~ .radioThumb {
        background-color: var(--color-green-200);

    }

    &:focus ~ .radioThumb .customRadioButton {
        outline: 2px solid black;
    }
}