@import '../../utilities/typography.css';

.formThumb {
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 24px;

    @media (--tablet-bp) {
        padding: 40px;
    }
}

.textHeader {
    padding-bottom: 32px;
    line-height: 100%;
    letter-spacing: -1px;
}

.textInputThumb {
    @media (--tablet-bp) {
        display: flex;
        gap: 16px;
    }
}

.submitButton {
    @mixin bodyMD_bold;
    width: 100%;
    min-height: 60px;
    background-color: var(--color-green-600);
    color: var(--color-white);
    border-radius: 8px;
    transition: var(--animation);

    &:hover {
        background-color: var(--color-grey-900);
        cursor: pointer;
    }
}

