.checkboxThumb {
    display: block;
    padding-bottom: 40px;

    &:focus-within .checkboxMark {
        outline: 2px solid var(--color-grey-900);
    }
}

.checkboxMark {
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.checkboxLabel {
    word-wrap: break-word;
    display: flex;
    gap: 16px;
    overflow-wrap: break-word;

    &:hover {
        cursor: pointer;
    }
}