.checkboxThumb {
    display: flex;
    padding-bottom: 40px;

    & label {
        word-wrap: break-word;
        display: flex;
        gap: 16px;
        overflow-wrap: break-word;

        &:hover {
            cursor: pointer;
        }
    }

}

.checkboxMark {
    width: 24px;
    display: block;
    align-content: center;
}